<% include partials/header %>

<div class="container">
    <div class="row movie-list">
        <% movieData.forEach(function (movie){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=movie.image%>" alt="<%=movie.name%>" width="250px" />
                </div>
            </div>
        <% }) %>
    </div>
</div>


<% include partials/footer %>