.thumbnail {
    margin: 10px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.form {
    margin: 0 auto;
    width: 30%;
}

#submit {
        background-color: teal;
        color: white;
}

